button {
    background-color: #a5aca5; /* Green */
    border: 1px;
    border-style: solid;
    color: rgb(20, 22, 22);
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
  }
  div
  {
      border: 20px;
  }
body{
    max-width: 100%;
    height: auto;
    background-image: url("img.png");
    color: white;
    text-align: center;
 } 

 .sec_head input[type='text']{
    color: white;

 }
 
 .sec_head button[type='submit']{
    color: white;

 }

    /* text-transform: uppercase;
    text-align: center;
    text-decoration: underline; */
    
 
  
h1 
{
    text-transform: uppercase;
    text-align: center;;
    text-decoration: underline;
    color: rgb(234, 228, 228);
 
}

h2
{
    text-transform: uppercase;
    text-align: center;
    color: aliceblue;
    background: rgba(7, 79, 167, 0); 


}
h3
{

    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    
}

.ID{
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;

}
span{
    color: rgb(255, 255, 255);
    text-align: center;

}

.footer{

    display: flex;
    justify-content: center;
    
}

.yo_3 {
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
}

.Border{
    
    color: aliceblue;
}
.set1 {
    text-align: left;
     
}
.div4 {
    text-align: center;
    color: aliceblue;
}
.Name {
    color: aliceblue;
}
.set {
    color: aliceblue;
}

.div3 {
    color: aliceblue;
}

.div4 {

    color: aliceblue;
}
