button {
    background-color: #a5aca5; /* Green */
    border: 1px;
    border-style: solid;
    color: rgb(11, 12, 12);
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
  }
  div
  {
      border: 20px;
  }
body{
    max-width: 100%;
    height: auto;
    background-image: url("img.png");
 } 

 .sec_head
 {

    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    
 }
  
h1 
{
    text-transform: uppercase;
    text-align: center;;
    text-decoration: underline;
    color: rgb(234, 228, 228);
 
}

h2
{
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    background: rgb(99, 10, 208); 


}
h3
{

    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    
}

.ID{
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;

}
span{
    color: rgb(255, 255, 255);
    text-align: center;

}

.footer{

    display: flex;
    justify-content: center;
    
}
